* {
  box-sizing: border-box;
}

@font-face {
  font-family: Post No Bills Jaffna; /* Гарнитура шрифта */
  src: url(../fonts/PostNoBillsJaffna-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: PT Sans; /* Гарнитура шрифта */
  src: url(../fonts/PTSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Playfair Display; /* Гарнитура шрифта */
  src: url(../fonts/PlayfairDisplay-Bold.ttf); /* Путь к файлу со шрифтом */
}

/*header*/

body {
  font-family: PT Sans;
  background-color: black;
}

header {
  text-align: center;
  color: #969696;
}

.top-line {
  height: 44px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.top-line div {
  width: 50%;
}

.icon-phone {
  margin-right: 15px;
}

.icon-login {
  margin-left: 280px;
  margin-right: 10px;
}

.login a:hover {
  color: white;
}

.second-line {
  height: 80px;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
}

.second-line div {
  width: 50%;
}

.logo {
  font-family: Post No Bills Jaffna;
  font-size: 36px;
}

ul {
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
}

li {
  width: 136px;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop {
  width: auto;
  margin-left: 60px;
  margin-right: 40px;
}

.search {
  width: auto;
}

nav a {
  text-decoration: none;
  color: #969696;
}

.logo,
.shop a,
.search a {
  color: #ffffff;
  transition: all 0.2s ease-in;
}

.logo:hover,
.shop a:hover,
.search a:hover {
  color: #969696;
  transform: scale(1.2) translate(5px, -5px);
}

.liked:hover,
.account:hover,
.settings:hover {
  background-color: #1f1f1f;
}

.liked:hover a,
.account:hover a,
.settings:hover a {
  color: white;
}

/*header*/

/*main*/

/*main - first-screen*/

.first-screen {
  background: url("../images/first-screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.porten {
  width: 320px;
  height: 320px;
  border: 4px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Post No Bills Jaffna;
  font-size: 64px;
}

hr {
  width: 179px;
  border: 2px solid #ffffff;
  margin-top: 0px;
}

h3 {
  font-family: PT Sans;
  font-size: 22px;
  text-transform: uppercase;
}

.lorem {
  margin-top: 80px;
  width: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: PT Sans;
  font-size: 16px;
  text-transform: uppercase;
}

/*main - first-screen*/

/*main - season-new-collection*/

.season-new-collection {
  display: flex;
  background-color: #000000;
}

.new-season {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 93px;
  margin-bottom: 93px;
}

.new-season h1 {
  font-family: Playfair Display;
  text-transform: uppercase;
  font-size: 36px;
  color: #ffffff;
}

.new-season hr {
  width: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #ffffff;
}

.season-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 260px;
  margin-left: 25px;
  /* height: 405px;
    margin-right: 25px; */
}

.card:first-child{
  margin-left: 0px;
}

.card div {
  /* width: 260px;
    height: 325px; 
    display: flex;
    align-items: center;
    justify-content: space-around;*/
  background-color: #191b1c;
  padding-left: 23px;
  padding-right: 22px;
  padding-top: 55px;
  padding-bottom: 56px;
}

.card img{
  width: 100%
}

.new-season-name {
  font-family: Playfair Display;
  font-size: 18px;
  margin-top: 25px;
  color: #ffffff;
}

.new-season-price {
  font-family: Playfair Display;
  font-size: 16px;
  margin-top: 10px;
  color: #d0d0d0;
}

.new-collection{
  width: 50%;
  background-image: url(../images/new-collection.png);
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 100vh;*/
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.new-collection-content{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-collection-content h1{
  font-family: Playfair Display;
  text-transform: uppercase;
  font-size: 36px;
  color: #FFFFFF;
}

.new-collection-content hr{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #ffffff;
}

.new-collection-content .button a{
  transition: all 0.2s ease-in;
}

.new-collection-content .button{
  border: 1px solid #FFFFFF;
  background-color: transparent;
  transition: all 0.1s ease-in;
}

.new-collection-content .button:hover, .new-collection-content .button:hover a{
  background-color: white;
  color: black;
}

/*main - season-new-collection*/

/*main - collection-2018*/

.collection-2018 {
  display: flex;
}

.collection-2018 img {
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

.collection-2018-content {
  width: 60%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.collection-2018-content div {
  width: 471px;
}

.collection-2018-content h1 {
  font-family: Playfair Display;
  text-transform: uppercase;
  font-size: 36px;
  color: #ffffff;
}

.collection-2018-content hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #ffffff;
}

.collection-2018-content p {
  color: #ffffff;
  margin-bottom: 61px;
}

.collection-2018-content .button a{
  transition: all 0.2s ease-in;
}

.collection-2018-content .button{
  border: 1px solid #ffffff;
  background-color: transparent;
  transition: all 0.1s ease-in;
}

.collection-2018-content .button:hover,
.collection-2018-content .button:hover a {
  background-color: white;
  color: black;
}

/*main - collection-2018*/

/*main - new-goods*/

.new-goods {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-goods h1 {
  font-family: Playfair Display;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 120px;
  color: #ffffff;
}

.new-goods hr {
  width: 120px;
  border: 1px solid #ffffff;
  margin-top: 40px;
  margin-bottom: 81px;
}

.new-goods-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-goods-row .card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 11, 5px;
  margin-left: 11, 5px;
}

/*main - new-goods*/

/*main - our-brands*/

.our-brands {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-brands h1 {
  font-family: Playfair Display;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 60px;
  color: #ffffff;
}

.our-brands hr {
  width: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #ffffff;
}

.our-brands div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-brands img {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 80px;
}

/*main - our-brands*/

/*main*/

/*footer*/

footer {
  background-image: url(../images/Rectangle\ 15.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.info,
.category,
.massages {
  width: 350px;
  margin-top: 80px;
}

footer h1 {
  font-family: Playfair Display;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 40px;
}

footer p {
  font-family: PT Sans;
  font-size: 14px;
  margin-bottom: 37px;
}

footer input {
  width: 210px;
  height: 42px;
  background: rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

input::-webkit-input-placeholder {
  color: #ffffff !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff !important;
}

input:-ms-input-placeholder {
  color: #ffffff !important;
}

.category-box {
  display: flex;
  flex-wrap: wrap;
}

.button {
  background-color: #0f0f0f;
  width: max-content;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all 0.1s ease-in;
}

.button a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.1s ease-in;
}

.messages-box {
  display: flex;
}

footer .button:hover {
  background-color: white;
}

footer .button:hover a {
  color: black;
}

.send-message {
  margin: 0px;
}

/*footer*/

.myAnimate{
  animation: myAnimate 1s;
}
@keyframes myAnimate{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.navbar__btn {
  display: none;
  width: 60px !important;
  height: 60px;
  background:black;
  position: relative;
}

.navbar__btn span {
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1px;
  margin-left: -12px;
  background-color: #ffffff;
}

.navbar__btn span::before {
  content: "";
  display: block;
  margin-top: 9px;
  width: 24px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  background-color: #ffffff;
}

.navbar__btn span::after {
  content: "";
  display: block;
  margin-top: -10px;
  width: 24px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  background-color: #daaeae;
}

.menu-wrapper{
  display: block;
  width: 100% !important;
}

.menu-wrapper-active{
  display: block;
}

.menu{
  flex-direction: row;
  text-align: right;
  width: 100% !important;
}

.menu ul{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}

.menu li{
  width: 100%;
}

.shop{
  margin-left: 0px;
  margin-right: 0px;
}

.second-line{
  justify-content: space-between;
}